html, body{
	height: 100%;
	width: 100%;
	min-width: 950px;
}
html{
background: url(record-background.jpg) no-repeat center center fixed;
background-size: cover;
}
body{
	
	height: 100%;
	/*font-family: "Courier New", Courier, monospace;*/
	font-family: Times;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.hidden{
	display: none;
}

#header{
	color: white;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	/*text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
    text-shadow: 
    2px 1px 0 #000,
    0 2px 1px #000
    ;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.description{
	font-family: 'Neuton', serif;
	font-size: 15px;
	margin-bottom: 20px;
	width: 575px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(235, 235, 235, .85);
	border: 1px double #565454;
}


#par, #intro, #intro2, #login{
	margin:8px;
	color:#565454;
	/*text-shadow:
    -.6px -.6px 0 #A8ADAF,
    .6px -.6px 0 #A8ADAF,
    -.6px .6px 0 #A8ADAF,
    .6px .6px 0 #A8ADAF; */

}


.name{
	margin: 5px;
	color: #2C2B2B;
	font-size: 20px;
	font-weight: bold;
	/*text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
}

.songs{
	background-color: rgba(235, 235, 235, .7);
	border: 1px double black;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 15px;
	font-family: 'Neuton', serif;
}

.spotifySearch{
	margin-top: 10px;
	margin-bottom: 10px;
}

#button{
	font-family: 'Neuton', serif;
	background-color: #DCB1B3;
	font-size: 15px;
	border-radius: 5px;
	color:#565454;
}


